DATABASE_URL=postgresql://postgres:1234@localhost:5432/postgres?schema=public
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=1234
DB_NAME=postgres
DB_SCHEMA=public
DB_SYNCHRONIZE=false
DB_SSL=false
APP_URL=http://localhost:4000
